* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: orangered;
  background-color: black;
}

section.presentacion {
  background-color: blanchedalmond;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

section.presentacion h2 {
  display: grid;
  place-content: center;
}

section.presentacion p {
  display: grid;
  place-content: center;
  max-width: 400px;
  border: 2px solid lightgreen;
  background-color: lightgreen;
}

section.presentacion label {
  margin-top: 20px;
}

section.juego {
  background-color: lightskyblue;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

section.lose {
  background-color: aqua;
}

section.win {
  background-color: green;
}

section.panel.hidden {
  display: none;
}

#output {
  background-color: white;
  text-align: center;
}
