* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.presentacion {
  background-color: black;
  color: white;
}

section.juego {
  background-color: blue;
}

section.lose {
  background-color: aqua;
}

section.win {
  background-color: green;
}

section.panel.hidden {
  display: none;
}

#output {
  background-color: green;
  color: red;
}
