* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: orangered;
  background-color: black;
}

section.presentacion {
  background-color: lightsalmon;
}

section.juego {
  background-color: blue;
}

section.lose {
  background-color: aqua;
}

section.win {
  background-color: green;
}

section.panel.hidden {
  display: none;
}

#output {
  background-color: green;
  color: red;
}
